remcp
remcp-serv
teste/
teste.txt

## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
**/*.xdv
**/*.synctex.gz
**/*.fdb_latexmk
